.detailContainer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.modalContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 80vh;
    background: white;
    border-radius: 5px;
    padding: 10px;
    .modalHeader {
        .beerTitle{
            position: relative;
            top: 20px;
            display: flex;
            justify-content: center;
            h1 {
                font-size: 2rem;
            }
        }
        i {
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 2rem;
            cursor: pointer;
        }
    }

    .modalBody {
        padding: 0px; 
        display: flex;
        flex: 1;
        flex-direction: row;
        position: relative;
        top: 40px;
        .beerImage {
            display: block;
            position: relative;
            max-height: 500px;
            padding: 20px;
            left: 40px; 
            img{
                height: 400px;
            }
        }
        .beerMeta {
            position: absolute;
            display: block;
            top: 30px;
            left: 300px;
            height: 100px;

            .shortInfo{
                font-size: 1.8rem;
                margin-bottom: 6px;
            }
        }
        .beerDescription {
            position: absolute;
            top: 170px;
            left: 300px;
            width: 50%;
            font-size: 1.3rem;
            
        }
        .beerSuggestion {
            position: absolute;
            top: 400px;
            left: 300px;
            width: 50%;
            font-size: 1.1rem;
        }
    }
    .Footer {
        padding-right: 1vw; 
        h2 {
            margin: 0 0 0 4vw;
            font-weight: bold;
            font-size: 1rem;
        }
        .Similar {
            display: flex;
            padding: 1vw;
            justify-content: space-around;
        }
    }
}

.Similar_Item {
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 8vw;
    border: 1px solid #ccc;
    span {
        white-space: nowrap;
        overflow: hidden;
        width: 8vw;
        text-overflow: ellipsis;
        margin: 2px;
        text-align: center;
        display: block;
    }
    img {
        margin: auto;
        display: block;
        height: 10vh;
    }
    &:hover {
        cursor: pointer;
    }
}