.detailContainer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.modalContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 85vh;
    background: white;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    .modalHeader {
        .beerTitle{
            position: relative;
            top: 20px;
            display: flex;
            justify-content: center;
            h1 {
                font-family: 'Anton', sans-serif;
                font-size: 3rem;
            }
        }
        i {
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .modalBody {
        padding: 0px; 
        display: flex;
        flex: 1;
        flex-direction: row;
        position: relative;
        top: 40px;
        .imgContainer {
            display: inline;
            position: relative;
            max-height: 500px;
            left: 40px; 
            img{
                height: 400px;
            }
        }
        .beerDetails{
            display: flex;
            flex-direction: column;
            position: relative;
            left: 100px;

            .beerMeta {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
    
                .shortInfo{
                    margin-right: 20px;
                    font-size: 1.6rem;
                    margin-bottom: 6px;
                }
            }
            .beerDescription {
                margin-bottom: 20px;
                width: 65%;
                font-size: 1rem;
                color: rgb(141, 137, 137); 
                
            }
            .beerSuggestion {
                color: rgb(240, 114, 12);
                width: 50%;
                font-size: 1rem;
            }
            .label {
                display: flex;
                position: relative;
                justify-content: center;
                right: 50px;
                margin: 20px 0px;
            }
        }
    }
    .similarContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .similarBeers{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .simBeer{
                padding: 5px;
                display: flex;
                flex-direction: column;
                height: 180px;
                width: 160px;
                border: 2px solid rgb(151, 151, 151);
                border-radius: 5px;
                margin: 10px 15px;
                h4 {
                    justify-content: center;
                    text-align: center;
                }
                img{
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    margin: auto;
                }
            }
        }  
    }
}
